.button {
    -fx-background-color: #5082ff;
    -fx-text-fill: #fff;
    -fx-background-radius: 5;
    -fx-font-size: 16;
}

.button:hover {
    -fx-background-color: rgb(72, 92, 255);
    -fx-cursor: hand;
}

.text-field, .text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #5082ff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-border-width: 2;
    -fx-text-fill: #777;
    -fx-font-weight: bold;

}

.table-view, .table-view .corner {
    -fx-background-color: transparent;
    -fx-pref-height: 700;
    /*-fx-text-alignment: center;*/

}

.table-view .column-header-background, .table-view .column-header, .table-view .column-header-background .filler {
    -fx-background-color: #6491ff;
    -fx-padding: 5;
    -fx-background-radius: 5;
}

.table-view .label{
    -fx-text-fill: #fff;

}

.table-row-cell {
    -fx-font-size: 16;
    -fx-padding: 5;
}

.label {
    -fx-text-fill: #444;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}


